<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>Authors List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <tr th:each="author : ${authors}">
        <th th:text="${author.id}" align="left">123</th>
        <th th:text="${author.firstName}" align="left">Bring back the glory</th>
        <th th:text="${author.lastName}" align="left">oyeah</th>
    </tr>
</table>

</body>
</html>