<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>Book List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Publisher</th>
    </tr>
    <tr th:each="book : ${books}">
        <th th:text="${book.id}" align="left">123</th>
        <th th:text="${book.title}" align="left">Bring back the glory</th>
        <th th:text="${book.publisher.name}" align="left">oyeah</th>
    </tr>
</table>

</body>
</html>